@use "sass:math";

@mixin hover {
   html[data-input="mouse"] & {
      &:hover {
         @content;
      }
   }
}

@mixin tap {
   html[data-input="touch"] &,
   html[data-input="pen"] & {
      &:active {
         @content;
      }
   }
}

@mixin focus {
   html[data-input="keyboard"] & {
      &:focus-visible {
         @content;
      }
   }
}

@mixin iconArrow (
   $font-size:null,
   $width: null,
   $aspect-ratio: 1,
   $border: null solid null,
   $border-radius:50%,
   $display:flex,
   $align-items:center,
   $justify-content: center,) {
border-radius: $border-radius;
display: $display;
align-items: $align-items;
justify-content: $justify-content;
aspect-ratio: $aspect-ratio;
}

@mixin transition($props...) {
   transition: $props 0.3s ease;
}

@mixin abs-center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin flex($jc: center, $ai: center, $gap: 0) {
   display: flex;
   justify-content: $jc;
   align-items: $ai;
   gap: $gap;
}

@mixin bg-cover($repeat: no-repeat,
   $position: center,
   $size: cover) {

   // repeat
   @if index((repeat, no-repeat, repeat-x, repeat-y), $repeat)==null {
      @warn "Invalid repeat value. Using no-repeat.";
      $repeat: no-repeat;
   }

   // position
   @if length($position)==1 {
      $position: nth($position, 1) center;
   }

   @else if length($position)>2 {
      @warn "Too many values for background-position. Using first two.";
      $position: nth($position, 1) nth($position, 2);
   }

   background-repeat: $repeat;
   background-position: $position;
   background-size: $size;
}

@mixin pseudo($content: '', $display: block, $pos: absolute) {
   content: $content;
   display: $display;
   position: $pos;
}


