@font-face {
   font-family: 'iconfont';
   src:
      url('/src/assets/fonts/icomoon.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

[class*="--icon-"]::before {
   font-family: 'iconfont';
   line-height: 1 !important;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-location-01"]::before {
   content: "\e900";
}

[class*="--icon-calendar"]::before {
   content: "\e901";
}

[class*="--icon-chevron"]::before {
   content: "\e902";
}

[class*="--icon-favorite"]::before {
   content: "\e903";
}

[class*="--icon-fb"]::before {
   content: "\e904";
}

[class*="--icon-history-i-01"]::before {
   content: "\e905";
}

[class*="--icon-history-i-02"]::before {
   content: "\e906";
}

[class*="--icon-history-i-03"]::before {
   content: "\e907";
}

[class*="--icon-history-i-04"]::before {
   content: "\e908";
}

[class*="--icon-linked"]::before {
   content: "\e909";
}

[class*="--icon-location"]::before {
   content: "\e90a";
}

[class*="--icon-logo"]::before {
   content: "\e90b";
}

[class*="--icon-logo-text"]::before {
   content: "\e90c";
}

[class*="--icon-logo-tree"]::before {
   content: "\e90d";
}

[class*="--icon-mail"]::before {
   content: "\e90e";
}

[class*="--icon-phone"]::before {
   content: "\e90f";
}

[class*="--icon-quotes"]::before {
   content: "\e910";
}

[class*="--icon-shop-cart"]::before {
   content: "\e911";
}

[class*="--icon-time"]::before {
   content: "\e912";
}

[class*="--icon-twitter"]::before {
   content: "\e913";
}

[class*="--icon-user"]::before {
   content: "\e914";
}

[class*="--icon-search"]::before {
   content: "\e921";
}


